<!DOCTYPE html>
<!--

    author:         arthurKN (2015)
    checkit:		http://github.com/distrill

-->
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link type="text/css" rel="stylesheet" href="../css/stylesheet.css"/>
		<title>Curry THREE</title>
	</head>
	<body>

		<div class="page-container">

			<div class="wide-container">
				<img src="../img/temp-logo2.png" class="logo-img">
				<div class="divider"></div>
				<nav id="navbar" class="navbar">
					<ul>
						<a href="#"><li>
							one
						</li></a>
						<a href="#"><li>
							two
						</li></a>
						<a href="#"><li>
							three
						</li></a>
						<a href="#"><li>
							four
						</li></a>
						<a href="/newPost"><li>
							new post
						</li></a>
					</ul>
				</nav>
			</div>

			<div class="new-post-main-content">
				<h2>Edit Post</h2>
				<form id="uploadForm" enctype="multipart/form-data" action="" method="post" class="new-post-form">
					<textarea name="title" class="post-body-input pbi-title"><%= post.title %></textarea>
					<textarea name="body" class="post-body-input pbi-body"><%= post.body %></textarea><br>
					<!-- <input type="text" name="body" placeholder="body" class="post-body-input"><br> -->
					<input type="text" name="link" value="<%= post.link %>"><br>
					<img src="../img/postThumbnails/<%= post.thumbnail %>">
					<p>new photo? (empty to keep same photo)</p>
					<input type="file" name="postThumbnail" formenctype="multipart/form-data"><br><br>
					<input type="submit" value="update" class="upload-form-submit">
				</form>
			</div>

			<div class="wide-container">
				<div class="footer">
					<a href="#">contact us</a><a href="#"><span class="foot-right">advertise with us</span></a>
				</div>
			</div>

		</div>

	</body>
</html>

<!--	<body>
		date: <%= post.date %><br>
		title: <%= post.title %><br><br>
		body: <%= post.body %><br><br>
		link: <%= post.link %><br>
		ID: <%= post._id %><br>
    </body>
</html> -->
