<% include /metaPartials/top %>

<div class="content-container">
	<%	for( var i in posts ) { %>
		<div class="news-elem">
			<p><a href="<%= posts[ i ].link %>"><%= posts[ i ].title %></a><span class="date-right">
				<%= posts[ i ].date.toString().split( ' ' ).slice( 1, 3 ).join( ' ' ) + ', ' +
					posts[ i ].date.toString().split( ' ' ).slice( 3, 4 ) %>
			</span></p>
			<a href="<%= posts[ i ].link %>">
				<img src="img/postThumbnails/<%= posts[ i ].thumbnail %>" class="news-elem-img">
			</a>
			<span class="copy"><%= posts[ i ].body %></span><br><br><br><br>
			<% if( admin ) { %>
				<div class="post-remove-edit">
					<a href="post/<%=posts[ i ]._id %>">edit</a><br>
					<a href="post/remove/<%= posts[ i ]._id %>">remove</a>
				</div>
			<% } %>
		</div>
	<% 	} %>
</div>

<% include /metaPartials/bottom %>
